/* General styles */
body {
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(92, 77, 66, 0.8)),
      to(rgba(92, 77, 66, 0.8))
    ),
    url("../images/bg-masthead.jpg");
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("../images/bg-masthead.jpg");
}

/* unvisited link */
a:link {
  color: #495057;
}

/* visited link */
a:visited {
  color: #495057;
}

/* mouse over link */
a:hover {
  color: #e76744;
}

/* selected link */
a:active {
  color: #e76744;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #e76744;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #dddddd;
}

/* semantic styles */
footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: rgba(92, 77, 66, 0.3);
  border-top: 8px solid #e76744;
  height: 50px;
}

label {
  display: block;
}

/* Custom IDs */
#logo {
  float: left;
  width: 350px;
  height: 90px;
  /* font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

#imgProfile {
  float: left;
  padding: 20px;
}

/* Custom Classes */
.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

.container {
  width: 100%;
  max-width: 960px;
  margin-top: 10px;
  clear: both;
  background: #ffffff;
  padding: 30px 20px;
  border: 1px solid #dddddd;
}

.bg-header {
  /* background-color: #6F6158; */
  background: rgba(92, 77, 66, 0.3);
  /* opacity: 0.1; */
  z-index: 2;
  border-bottom: 8px solid #e76744;
}

.content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  /* padding: 20px; */
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}
